{{! template-lint-disable no-inline-styles }}
<div class="row g-0">
  <div class="col px-md-0 py-3">
    <div class="container mx-auto">
      <h2>Stacked Pane</h2>
    </div>
  </div>
</div>
{{! BEGIN-SNIPPET stacked-pane-component }}
<StackedPane::Container style="min-height: fit-content;">
  <StackedPane>
    <ul class="list-group">
      {{#each this.shortRange as |item|}}
        <LinkTo
          class="list-group-item"
          @route="stacked-pane.selected-item"
          @model={{item}}
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Account {{item}}</h5>
            <small>Person Name</small>
          </div>
          <p class="mb-1">Email</p>
          <small>Phone</small>
        </LinkTo>
      {{/each}}
    </ul>
  </StackedPane>
  {{outlet}}
</StackedPane::Container>
{{! END-SNIPPET }}

<div class="row g-0">
  <div class="col px-md-0 py-3">
    <div class="container mx-auto">
      {{#let (get-code-snippet "stacked-pane-component.hbs") as |snippet|}}
        <CodeBlock
          class="border rounded simple p-3"
          @lang={{snippet.language}}
          @code={{snippet.source}}
        />
      {{/let}}
    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col px-md-0 py-3">
    <div class="container mx-auto">
      <h2>Stacked Pane with Pagination</h2>
      {{! BEGIN-SNIPPET stacked-pane-pagination-component }}

      <StackedPane::Container style="min-height: fit-content;">
        <StackedPane
          @enablePagination={{true}}
          @meta={{this.meta}}
          @onChangePage={{fn this.update "start"}}
          @showDetailedMeta={{true}}
        >
          <Pagination
            class="pagination-container"
            @meta={{this.meta}}
            @onChangePage={{fn this.update "start"}}
            @compact={{true}}
          />
          <ul class="list-group">
            {{#each this.longRange as |item|}}
              <LinkTo
                class="list-group-item"
                @route="stacked-pane.selected-item"
                @model={{item}}
              >
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Account {{item}}</h5>
                  <small>Person Name</small>
                </div>
                <p class="mb-1">Email</p>
                <small>Phone</small>
              </LinkTo>
            {{/each}}
          </ul>
          <Pagination
            class="pagination-container"
            @meta={{this.meta}}
            @onChangePage={{fn this.update "start"}}
            @compact={{true}}
          />
        </StackedPane>
        {{outlet}}
      </StackedPane::Container>
      {{! END-SNIPPET }}
    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col px-md-0 py-3">
    <div class="container mx-auto">
      {{#let (get-code-snippet "stacked-pane-controller.ts") as |snippet|}}
        <CodeBlock
          class="border rounded simple p-3"
          @lang={{snippet.language}}
          @code={{snippet.source}}
        />
      {{/let}}
      {{#let
        (get-code-snippet "stacked-pane-pagination-component.hbs")
        as |snippet|
      }}
        <CodeBlock
          class="border rounded simple p-3"
          @lang={{snippet.language}}
          @code={{snippet.source}}
        />
      {{/let}}
    </div>
  </div>
</div>